/* Boton PM2.5 Y PM10 */
.buttonPM {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #18a39b solid 0.15em; 
  border-radius: 0.25em;
  color: #18a39b; 
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.buttonPM p {
  z-index: 1;
}

.buttonPM:hover {
  color: #ffffff; 
  font-weight: 700;
}

.buttonPM:active {
  border-color: #006b66;
}

.buttonPM::after, .buttonPM::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #18a39b; 
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.buttonPM::before {
  left: 0;
  transform: translateX(-8em);
}

.buttonPM::after {
  right: 0;
  transform: translateX(8em);
}

.buttonPM:hover:before {
  transform: translateX(-1em);
}

.buttonPM:hover:after {
  transform: translateX(1em);
}

.buttonPM:active:before,
.buttonPM:active:after {
  background: #006b66; 
}


/* Boton C02 verde */
.buttonCO2 {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #4CAF50 solid 0.15em;
  border-radius: 0.25em;
  color: #4CAF50; 
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.buttonCO2 p {
  z-index: 1;
}

.buttonCO2:hover {
  color: #ffffff;
  font-weight: 700;
}

.buttonCO2:active {
  border-color: #2E7D32;} 

.buttonCO2::after, .buttonCO2::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #4CAF50;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.buttonCO2::before {
  left: 0;
  transform: translateX(-8em);
}

.buttonCO2::after {
  right: 0;
  transform: translateX(8em);
}

.buttonCO2:hover:before {
  transform: translateX(-1em);
}

.buttonCO2:hover:after {
  transform: translateX(1em);
}

.buttonCO2:active:before,
.buttonCO2:active:after {
  background: #2E7D32;
}


/* Boton Temparatura */
.buttonTemp {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #FF5722 solid 0.15em; 
  border-radius: 0.25em;
  color: #FF5722; 
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.buttonTemp p {
  z-index: 1;
}

.buttonTemp:hover {
  color: #ffffff;
  font-weight: 700;
}

.buttonTemp:active {
  border-color: #E64A19; 
}

.buttonTemp::after, .buttonTemp::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #FF5722;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.buttonTemp::before {
  left: 0;
  transform: translateX(-8em);
}

.buttonTemp::after {
  right: 0;
  transform: translateX(8em);
}

.buttonTemp:hover:before {
  transform: translateX(-1em);
}

.buttonTemp:hover:after {
  transform: translateX(1em);
}

.buttonTemp:active:before,
.buttonTemp:active:after {
  background: #E64A19;
}

/* Filtro de fecha y barra de busqueda */
/* Input de fecha */
.date-input {
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 2px solid #88a2f6;
  background: rgba(255, 255, 255, 0.15);
  color: #110b3b;
  backdrop-filter: blur(8px);
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  transition: border 300ms, box-shadow 300ms;
}

.date-input:hover {
  border-color: #1de4f7;
  box-shadow: 0 0 10px rgba(29, 228, 247, 0.5);
}

/* Botón Buscar */
.button-search {
  all: unset;
  display: inline-block;
  padding: 0.6em 1.5em;
  border: 2px solid #88a2f6;
  border-radius: 0.5em;
  color: #88a2f6;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 300ms, color 300ms, box-shadow 300ms;
}

.button-search:hover {
  background: #88a2f6;
  color: white;
  box-shadow: 0 0 10px rgba(136, 162, 246, 0.6);
}

/* Boton Lectuaras De Prueba */
.buttonPruebas {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: #ff00d4 solid 0.15em; 
  border-radius: 0.25em;
  color: #ff00d4; 
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.buttonPruebas p {
  z-index: 1;
}

.buttonPruebas:hover {
  color: #ffffff;
  font-weight: 700;
}

.buttonPruebas:active {
  border-color: #ff00d4; 
}

.buttonPruebas::after, .buttonPruebas::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #ff00d4;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.buttonPruebas::before {
  left: 0;
  transform: translateX(-8em);
}

.buttonPruebas::after {
  right: 0;
  transform: translateX(8em);
}

.buttonPruebas:hover:before {
  transform: translateX(-1em);
}

.buttonPruebas:hover:after {
  transform: translateX(1em);
}

.buttonPruebas:active:before,
.buttonPruebas:active:after {
  background: #ff00d4;
}

/*Boton de detenar lecturas*/
.buttonStop {
  all: unset;
  display: inline-block;
  padding: 0.6em 1.5em;
  border: 2px solid #88a2f6;
  border-radius: 0.5em;
  color: #88a2f6;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 300ms, color 300ms, box-shadow 300ms;
}

.buttonStop:hover {
  background: #88a2f6;
  color: white;
  box-shadow: 0 0 10px rgba(136, 162, 246, 0.6);
}

/* Boton Lectuaras De Prueba */
.buttonStop {
  background-color: #e63946; /* rojo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonStop:hover {
  background-color: #b71c1c; /* rojo más oscuro */
}

.logoUtm {
  height: 50px;
  cursor: pointer;
  filter: brightness(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoUtm:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.logoUtm:active {
  transform: scale(0.9) rotate(-5deg);
  filter: drop-shadow(0 0 15px cyan) brightness(1.3);
}
